@font-face {
  font-family: titleFont;
  src: url(./fonts/continuo.ttf);
}

html, body {
  background-color: #fedddc;
  background: url(https://www.bradleygamboa.me/img/vinyl.png) no-repeat center center fixed;
  margin: 2em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*body {
  margin: 2em;
  background: none;
}*/

aside {
  border-radius: 3px;
  color: black;
  margin-bottom: 2em;
  padding: 0.3em 1em;
}

button {
  float: right;
}

h1 {
  color: black;
  font-family: titleFont;
  font-size: 5em;
}

label, input, textarea {
  font-family: titleFont;
}

p {
  font-family: titleFont;
  font-size: 1.5em;
}

textarea {
  width: 100%;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.is-center {
  text-align: center;
}

.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-xlarge {
  font-size: 125%;
}

#name, #email, #message {
  width: 50%;
}